.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  background-color: hsl(216, 12%, 8%)!important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.containerRating{
  width: 400px;
  height: 500px;
  margin-top: 50px;
  border-radius: 20px!important;
  -webkit-border-radius: 20px!important;
  -moz-border-radius: 20px!important;
  -ms-border-radius: 20px!important;
  -o-border-radius: 20px!important;
}
.ratingMain{
  background-color: hsl(213, 19%, 18%);
  color: hsl(0, 0%, 100%);
}
.btnRating{
  background-color: hsl(25, 97%, 53%);
  border: none;
  color:  hsl(0, 0%, 100%);
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
