

@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Gemunu+Libre:wght@400;600&family=Inter:wght@200;300;400;500&family=Montserrat:wght@100;200;300;400;500;600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Pixelify+Sans&family=Poppins:ital,wght@0,200;0,400;0,500;1,100;1,300;1,400&family=Roboto:wght@400;700&family=Vina+Sans&display=swap');



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}


